In [1]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder

In [2]:
df=pd.read_csv('customer.csv')

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No


<p style="font-family: Consolas; font-size: 20px;">
It is clear that the columns <b>review</b> and <b>education</b> are ordinal, meaning their values can be arranged in a specific order or ranking.
</p>

<h2 style="font-family: Consolas; font-size: 30px;">We have to use OrdindalEncoder</h2>

In [5]:
df['review'].value_counts()

review
Poor       18
Good       18
Average    14
Name: count, dtype: int64

In [6]:
df['education'].value_counts()

education
PG        18
School    16
UG        16
Name: count, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(df[['review','education']],df.iloc[:,-1],test_size=0.2,shuffle=False)


oe=OrdinalEncoder(categories=[['Poor','Good','Average'],['PG','School','UG']])
oe.fit(X_train)
X_train=oe.transform(X_train)
X_test=oe.transform(X_test)

In [38]:
oe.categories_

[array(['Poor', 'Good', 'Average'], dtype=object),
 array(['PG', 'School', 'UG'], dtype=object)]

In [28]:
X_train=pd.DataFrame(X_train,columns=['review','education'])

In [29]:
X_train.head()

   review  education
0     2.0        1.0
1     0.0        2.0
2     1.0        0.0
3     1.0        0.0
4     2.0        2.0

<h2 style="font-family: Consolas; font-size: 30px;">For Target Variable/Feature We have to use <code>LabelEncoder</code></h2>

<h2 style="font-family: Consolas; font-size: 20px;">Note that <code>LabelEncoder</code> has no parameters and treats all data the same way, whether nominal or ordinal</h2>

In [31]:


le=LabelEncoder() 
le.fit(y_train)
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [32]:
y_train

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0])

In [35]:
y_train.shape,y_test.shape

((40,), (10,))

In [37]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [39]:
y_test

array([0, 1, 1, 0, 0, 1, 0, 1, 1, 0])