In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.shape

(100, 6)

In [7]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [9]:
df.columns

Index(['age', 'gender', 'fever', 'cough', 'city', 'has_covid'], dtype='object')

In [11]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [8]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [13]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size=0.2)

In [18]:
transformer=ColumnTransformer(transformers=[
    ('ohe',OneHotEncoder(drop='first',sparse_output=False),['gender','city']),
    ('oe',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('si',SimpleImputer(strategy='median'),['fever'])
],remainder='passthrough')

In [19]:
prepocessed_train=transformer.fit_transform(X_train)

In [20]:
prepocessed_train.shape

(80, 7)

In [23]:
pd.DataFrame(prepocessed_train,columns=transformer.get_feature_names_out()).head()

,ohe__gender_Male,ohe__city_Delhi,ohe__city_Kolkata,ohe__city_Mumbai,oe__cough,si__fever,remainder__age
0,0.0,1.0,0.0,0.0,0.0,103.0,73.0
1,1.0,0.0,1.0,0.0,1.0,100.0,71.0
2,1.0,0.0,1.0,0.0,0.0,103.0,83.0
3,1.0,0.0,0.0,0.0,0.0,99.0,65.0
4,1.0,0.0,0.0,1.0,1.0,98.0,23.0